@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

label {
  font-size: 16px;
  font-weight: 600;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
}

input[type="file"]::file-selector-button {
  display: none;
}
table {
  border-collapse: collapse;
  width: 80%;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #ccc;
}

th {
  text-align: center;
  font-weight: bold;
}

td {
  text-align: center;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
